/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

.chatButton{
  width: 70px;
    height: 70px;
    margin-right: 39px;
    font-size: 20px;
    margin-bottom: 8px
}

.back {
  border-radius: 15px;
  width: 13%;
  margin-top: 15px;
  margin-left: 26px;
  height: 29px;
}


#logout{
  width: 58px;
    height: 28px;
    border-radius: 30px
}

#updateUser{
  width: 16%;
    height: 28px;
    border-radius: 30px;
    margin-top: 9px;
}
