/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/


.logo img{
    width: 35%;
    
}

.chatPage:before{
    font-size: 19px;
}


#logout{

    display: flex;
    width: 20%;   
}

#updateUser{
    width: 36%; 
}

.back{
    width:16%;
}


